{% load humanize %}
<article class="package{% if package.is_highlighted %} is-highlighted{% endif %}">
    {% if package.is_highlighted %}<span class="package__badge">Most popular</span>{% endif %}

    <h3>{{ package.name }}</h3>

    <div class="package__price">
        <span class="package__amount">
            {% if package.price_is_from %}<span class="package__period">from</span> {% endif %}KES&nbsp;{{ package.price|floatformat:0|intcomma }}
        </span>
        {% if package.billing_type == "monthly" %}<span class="package__period">/month</span>{% endif %}
    </div>

    {% if package.short_description %}<p class="muted">{{ package.short_description }}</p>{% endif %}

    {% if package.features %}
    <ul class="package__features">
        {% for feature in package.features %}<li>{{ feature }}</li>{% endfor %}
    </ul>
    {% endif %}

    {% if package.ideal_for %}<p class="package__ideal">Ideal for: {{ package.ideal_for }}</p>{% endif %}

    <a class="btn {% if package.is_highlighted %}btn--primary{% else %}btn--secondary{% endif %} btn--block"
       href="{% url 'contact:contact' %}?service={{ package.slug }}">
        Choose {{ package.name }}
    </a>
</article>
